<%@ Master Language="C#" AutoEventWireup="True" CodeBehind="Emptry.master.cs" Inherits="SatCtrl.EmptyMaster" %>
<asp:ContentPlaceHolder ID="HeadContent" runat="server"/>
<asp:ContentPlaceHolder ID="MainContent" runat="server"/>