<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="cubesatdataConnectionString" connectionString="server=127.0.0.1;User Id=root;password=azura2samtak;database=cubesatdata;Persist Security Info=True"
      providerName="MySql.Data.MySqlClient" />
    <add name="cubesatdataConnectionString2" connectionString="server=127.0.0.1;User Id=root;password=azura2samtak;database=cubesatdata"
      providerName="MySql.Data.MySqlClient" />
    <add name="missionlogConnectionString" connectionString="server=127.0.0.1;User Id=root;password=azura2samtak;Persist Security Info=True;database=missionlog"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultMainGrStn" value="1" />
  </appSettings>

  <system.web>

    <compilation debug="true" targetFramework="4.0" />
    <customErrors defaultRedirect="" />
    <trace enabled="true" />
    <authorization>
      <allow roles="admin" />
      <allow roles="admin" />
      <allow users="alex" />
    </authorization>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/"
          name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
